<html>
    <head>
      {% if title %}
      <title>{{ title }} - Movie Search Engine</title>
      {% else %}
      <title>Welcome to Movie Search Engine</title>
      {% endif %}
    </head>
    <body>
        <div>Movie Search Engine: 
            <a href="/index">Home</a>
            <a href="/login">Login</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>